#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDC_SETTINGS, VIRTKEY
	VK_F4, IDM_EXIT, ALT, VIRTKEY
	VK_RETURN, IDC_SCREENSHOT, VIRTKEY
	"E", IDM_EXPLORE, CONTROL, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_EXPLORE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TAKE_FULLSCREEN
		MENUITEM " ", IDM_TAKE_WINDOW
		MENUITEM " ", IDM_TAKE_REGION
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_LOADONSTARTUP_CHK
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_SETTINGS MENU
{
	POPUP ""
	{
		POPUP " "
		{
			MENUITEM " ", IDM_FILENAME_INDEX
			MENUITEM " ", IDM_FILENAME_DATE
		}
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		MENUITEM " ", IDM_COPYTOCLIPBOARD_CHK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_PLAYSOUNDS_CHK
		MENUITEM " ", IDM_INCLUDEMOUSECURSOR_CHK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_INCLUDEWINDOWSHADOW_CHK
		MENUITEM " ", IDM_CLEARBACKGROUND_CHK
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 640, 420
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_CAPTION | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX		"", IDC_SCREENSHOT_SETTINGS, 330, 4, 302, 32

    PUSHBUTTON		"", IDC_COLOR, 338, 14, 60, 14
    PUSHBUTTON		"", IDC_SAVE_BTN, 568, 12, 60, 14

	GROUPBOX		"", IDC_TITLE_SETTINGS, 170, 38, 158, 52

	AUTOCHECKBOX	" ", IDC_INCLUDEMOUSECURSOR_CHK, 178, 50, 108, 10
	AUTOCHECKBOX	" ", IDC_INCLUDEWINDOWSHADOW_CHK, 178, 62, 108, 10
	AUTOCHECKBOX	" ", IDC_CLEARBACKGROUND_CHK, 178, 74, 108, 10

	GROUPBOX		"", IDC_TITLE_MODE, 8, 38, 158, 52

	AUTORADIOBUTTON	"", IDC_MODE_FULLSCREEN, 16, 50, 108, 10
	AUTORADIOBUTTON	"", IDC_MODE_WINDOW, 16, 62, 108, 10
	AUTORADIOBUTTON	"", IDC_MODE_REGION, 16, 74, 108, 10

	PUSHBUTTON		"", IDC_SETTINGS, 8, 96, 60, 14

    GROUPBOX		"", IDC_TITLE_FOLDER, 8, 4, 320, 32

    EDITTEXT		IDC_FOLDER, 16, 16, 208, 12, ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON		"...", IDC_BROWSE_BTN, 228, 16, 24, 12

	PUSHBUTTON		"", IDC_SCREENSHOT, 72, 96, 60, 14
    PUSHBUTTON		"", IDC_EXIT, 136, 96, 60, 14

    CONTROL		"", IDC_PREVIEW_FIELD, "Static", SS_BITMAP, 8, 115, 640, 500, WS_EX_TRANSPARENT
}

//
// String resources
//
STRINGTABLE
{
	IDS_FILE "File"
	IDS_EXPLORE "Open screenshots folder"
    IDS_SCREENSHOT_SETTINGS "Screenshots"
	IDS_EXIT "Exit"
	IDS_VIEW "View"
    IDS_HELP "Help"
	IDS_ABOUT "About"
    IDS_PREVIEW "Preview"
    IDS_COLOR "Choose color"

	IDS_ALWAYSONTOP_CHK "Always on top"

	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_COPYTOCLIPBOARD_CHK "Copy image to clipboard"

	IDS_FOLDER "Save pictures to"
	IDS_QUICKSETTINGS "Quick settings"
	IDS_MODE "Mode"
	IDS_FILENAME "Filename"
	IDS_IMAGEFORMAT "Image format"

	IDS_PLAYSOUNDS_CHK "Play capture sound"
	IDS_INCLUDEMOUSECURSOR_CHK "Include mouse cursor"
	IDS_INCLUDEWINDOWSHADOW_CHK "Include window shadow"
	IDS_CLEARBACKGROUND_CHK "Clear window background"

	IDS_MODE_FULLSCREEN "Fullscreen"
	IDS_MODE_WINDOW "Active window"
	IDS_MODE_REGION "Selected region"

	IDS_SETTINGS "Settings"
	IDS_SCREENSHOT "Screenshot"

	IDS_DISABLE "Disable"
    IDS_SAVE_EDITS "Save edits"
}

//
// Wave resources
//
IDW_MAIN		WAVE		"res\\1.wav"

// Cursor resources
//
IDI_MAIN		CURSOR		"res\\100.cur"

// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"
}
